---
import projects from "@/data/projects.json";
import ViewIcon from "@icons/ViewIcon.astro";
import HTML from "@icons/Tech/HTML.astro";
import SASS from "@icons/Tech/SASS.astro";
import JavaScript from "@icons/Tech/JavaScript.astro";
import Node from "@icons/Tech/Node.astro";
import Express from "@icons/Tech/Express.astro";

const techs = [
  {
    title: "HTML",
    icon: HTML,
  },
  {
    title: "SASS",
    icon: SASS,
  },
  {
    title: "JavaScript",
    icon: JavaScript,
  },
  {
    title: "Node.js",
    icon: Node,
  },
  {
    title: "Express",
    icon: Express,
  },
];
---

<div
  class="grid grid-cols-1 gap-4 mt-2 transition-all sm:grid-cols-2 xl:grid-cols-3"
>
  {
    projects.map((project) => (
      <div class="overflow-hidden transition-all duration-500 border rounded-lg shadow-md border-black/10 dark:bg-neutral-800 dark:border-neutral-600 hover:scale-105">
        <a href={project.url} target="_blank" rel="noopener noreferrer">
          <img
            src={project.image}
            alt={project.title}
            class="object-cover w-full h-48 "
          />
          <div class="p-4">
            <h3 class="text-xl font-bold">{project.title}</h3>
            <p class="text-neutral-800 dark:text-white/90">
              {project.description}
            </p>

            <ul class="flex flex-row flex-wrap gap-2 mt-4">
              {techs.map((tech) => (
                <li>
                  <span
                    class={`flex items-center gap-x-2 text-xs bg-neutral-100 border border-neutral-300 rounded-full dark:bg-neutral-700 dark:border-neutral-600 dark:text-white0 py-1 px-2 `}
                  >
                    <tech.icon class="size-4" />
                    {tech.title}
                  </span>
                </li>
              ))}
            </ul>
          </div>
        </a>
      </div>
    ))
  }
</div>
